/* ========= TAG SELECTORS ========= */
a {
    text-decoration: none;
    color: #1572A1;
    font-weight: 600;
}
a:visited {
    color: #1572A1;
}
a:hover {
    color: #0E4F70;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin-top: 60px;
    /* background-color: lightcyan; */
    /* background-image: url('../images/set-hand-drawn-book-doodle-elements_253081-8.png'); */
    /* background-size: 100%; */
}


button {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    /* font-family: "JetBrains Mono",monospace; */
    font-family: Helvetica, sans-serif;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}


/* TABLE PROPERTIES */
td {
    padding: 2px 15px 2px 15px;
    border: 2px solid whitesmoke;
}

tr:hover {
    background-color: lightgrey;
}
table {
    border: 3px solid whitesmoke;
    border-collapse: collapse;
}
table div{
    overflow-y:auto;
}
/* ========= CLASS SELECTORS ========= */
.navbar {
    top: 0px;
    /* border-top: 6px solid white; */
    height: 40px;
    width: 100%;
    background-color: white;
    position: fixed;
    margin: 0px ;
    padding: 10px;
    font-size: 1.5rem;
}
.nav-items {
    font-size: 1.5rem;
    position: relative;
    left: 5%;
    bottom: 5%;
}
